<div class="row">
  <div class="col col-md-6"><h1><%= @balada[:nome] %></h1></div>
  <div class="col col-md-6" style="margin-top:25px;">@<%= @balada[:username] %></div>
</div>
<br/>
<div class="row">
  <div class="col col-md-6">
    Endereço: <b><%= @balada[:endereco] + ', ' + @balada[:numero].to_s %> -
             <%= @balada[:cidade]+'/'+@balada[:estado] %></b>
  </div>
    <div class="col col-md-6">
    Estilos:
    <b>
      <% estilo_balada(@balada[:idCadastro]).each do |estilo| %>
       <%= estilo + ',' %>
      <% end %>
    </b>
  </div>
  <div class="col col-md-6"><br />
    Contato: <b><%= @balada[:telefone] %></b>
  </div>
</div>
<hr>
<h3>Festas:</h3>
<%= render 'festa/festas' %>
<hr>
<h3>Avaliações:</h3>
<%#= render 'avaliacoes_form' %>
<%= render 'avaliacoes' %>
