<%= form_tag({ controller: 'avaliacao_festa', action: 'create' }, method: 'post') do %>
<div class="row">
  <div class="col col-sm-8"><b>O que achou da festa?</b></div>
  <div class="col col-sm-2"><b>Dê uma nota (1 a 5):</b></div>
</div>

<div class="row">
  <div class="col col-sm-8">
    <%= text_area_tag(:comentario, '', class: "form-control", style: 'resize: none;') %>
  </div>
  <div class="col col-sm-2">
    <div style="width:100px;">
      <%= select_tag(:nota, options_for_select([1, 2, 3, 4, 5]), { class: 'form-control' }) %><br />
      <%= hidden_field(:idFesta, :idFesta, :value => params[:id]) %>
      <div style="width: 100px;">
        <%= submit_tag('Enviar!', class: "form-control btn btn-sm btn-primary") %>
      </div>
    </div>
  </div>
</div>

<% end %>
<hr />
