<div class="row">
  <div class="col col-md-9"><h1>Festa <%= @festa[:nome] %></h1></div>
  <div class="col col-md-3"><br />
    <% if logged_in? %>
      <% if checked_in?(session[:idCadastro], params[:id]) %>
        <%= button_to 'Desfazer check-in', checkin_delete_path, method: :delete, class: 'btn btn-md btn-danger', params: { idFesta: params[:id] } %>
      <% else %>
        <%= button_to 'Check-in!', checkin_path, method: :post, class: 'btn btn-md btn-primary', params: { idFesta: params[:id] } %>
      <% end %>
      <% else %>
        <%= link_to 'Faça login e faça check-in!', login_path, class: 'btn btn-md btn-primary', style: 'color:#FFF' %>
    <% end %>
  </div>

</div>
<div class="row">
  <div class="col col-md-9">
  </div>
  <div class="col col-md-3">
    <%= qtd_checkin(params[:id]) %> pessoas estão aqui!
  </div>
</div>
<div class="row">
  <div class="col col-md-6">
    Quando: <b><%= @festa[:data].strftime('%d/%m/%Y') %> - <%= @festa[:hora].strftime('%H:%M') %></b>
  </div>
  <div class="col col-md-6">
    Onde: <b><a href="../baladas/<%= @festa[:idBalada] %>" style="color: #000;"><%= info_balada(@festa[:idBalada]) %></a></b>
  </div>
</div>
<div class="row">
  <div class="col col-md-6">
    Tipo de bar: <b><%= if @festa[:tipoBar] then 'Open' else 'Consumação' end %></b>
  </div>
  <div class="col col-md-6">
    Estilos:
    <b>
      <% estilo_festa(@festa[:idFesta]).each do |estilo| %>
       <%= estilo + ',' %>
      <% end %>
    </b>
  </div>
</div>
<div class="row">
  <div class="col col-md-6">
    Endereço:
  </div>
</div>

<hr />
<h3>Avaliações:</h3>
<% if logged_in? %>
  <%= render 'avaliacoes_form' %>
<% else %>
  <div class="row" style='margin-top:15px; margin-bottom:15px;'>
    <%= link_to 'Faça login para comentar', login_path, style: 'color:#337ab7;' %>
  </div>
<% end %>
<%= render 'avaliacoes' %>
